.container {
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-size-l);
  transition: color 0.3s ease
}


.selector {
  width: 312px;
  height: 51px;
  padding: 16px;
  appearance: none;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-family: var(--fonte-texto);
  background-color: var(--cinza-claro);
  color: var(--preto);
  transition: color 0.3s ease, background-color 0.3s ease;
}

:global([data-theme='dark']) .selector {
    background-color: var(--preto);
    color: var(--branco); /* Cor para o tema Escuro */
}